@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");

:root {
    --background: #161616;
    --primary: #2f2f2f;
    --secondary: #404040;
    --accent-primary: #81c784;
}

*::-webkit-scrollbar {
    width: 12px;
    background-color: var(--background);
}

*::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--primary);
}

*::-webkit-scrollbar-thumb:hover {
    background-color: var(--secondary);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

* {
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: var(--background);
}

p {
    color: white;
}

input, textarea {
    border-radius: 5px;
    background-color: var(--primary);
    color: white;
}

.movie-info {
    @apply flex space-x-1
}